---
title: Creaciones
layout: mylayout.njk
---

<ul class="list-none">
{% for convocatoria in collections.convocatorias %}
<li>
    <article>
        <a href="{{convocatoria.url}}"><h2>{{ convocatoria.data.title}}</h2></a>
        
    <article>
</li>
{% endfor %}
</ul>
