---
site_title: Materiales para Oposición
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
     <header>
        <h1>{{ site_title }}</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/creaciones">Creaciones1</a></li>
                <li><a href="/about">Sobre Mi</a></li>
            </ul>
        </nav>
        
    </header>
    <main>
        <!-- Aquí es donde va el contenido -->
        {{ content | safe }}
    </main>
    <footer>
        <hr/>
        <p>Copyright año 2021. Todos los derechos reservados</p>
    </footer>
</body>
</html>